<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <!--Link for bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!--link to personal main.css in the static folder-->
        <title>Expense Tracker</title>
</head>
<body>
    <header class="site-header">
      <!--navigation bar with bootstrap styling-->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/analysis">Analysis</a>
          <!--Link to analysis page-->
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/about">About</a>
              <!--Link to about page-->
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/entry/new">Add New</a>
              <!--link to create a new entry-->
              <form class="form-inline" action="{{ url_for('mainpage') }}" method="get">
                <!--search form with bootstrap-->
                <input class="form-control mr-sm-2" type="search" placeholder="Search by Category" aria-label="Search" name="category">
                <!--takes input for the search bar-->
            </form>
        </div>
    </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--main content section-->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          <!--manages bootstraps flash messages with the get_flashed_method-->
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}<!--checks if there are flashed messages-->
                    {% for category, message in messages %}<!--iterates through the messages and displays with boostrap alerts-->
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
</body>
</html>